{% extends 'base.html.twig' %}

{% block title %}DJ {{artiste.name}}

{% endblock %}

{% block body %}
<div class="container">
    <div class="card border-primary my-5" >
        <div class="card-body">
            <h4 class="card-title">{{artiste.name}}</h4>
            <p class="card-text">{{artiste.description}}</p>
        </div>
    </div>
</div>

{% endblock %}
